%table.admin-table.comments-table
  %colgroup
    %col.id-col
    %col.preview-col
    %col.username-col
    %col.marked-as-col
    %col.view-col

  %thead
    %tr
      %th.id-col ID
      %th Preview
      %th Username
      %th Marked As
      %th Actions

  %tbody
    = render @comments
