#post {
  overflow: hidden;
}

#post-sidebar {
  width: 151px;
  margin-right: 85px;
  float: left;
}

#post-sidebar .share-tools {
  margin-top: 50px;
}

#post .social-media-wrapper {
  margin: 15px 0;
}

#post header {
  margin-bottom: $post-content-spacing;
}

#post header h2 {
  margin: 4px 0 7px;
}

#post .publish-meta {
  overflow: hidden;
}

#post .publish-meta p {
  margin-left: 5px;
  line-height: 16px;
  float: left;
}

#post time {
  font-size: 16px;
  float: left;
}

#post-sidebar .post-category {
  float: left;
}

#post-sidebar .post-category a {
  color: $gray;
  &:hover { color: $red; }
}

#post {
  h2, h3, h4, h5 {
    margin: 45px 0 $post-content-spacing - 10px;
  }
}

#post h2 {
  font-size: 26px;
  line-height: 34px;
}

#post h2 a,
#post h2 a:visited {
  color: #505050;
}

#post > p {
  line-height: 27px;
  width: 890px;
  margin-bottom: $post-content-spacing - 5;
}

#post .inline-code-sample {
  margin-bottom: $post-content-spacing - 5;
  overflow-x: auto;
}

#post h3 {
  font-size: 20px;
}

#post h4 {
  font-size: 18px;
}

.code-block {
  padding: 15px;
  background: #f5f5f5;
  margin: 20px 0;
  overflow-x: auto;
}

.code-block + h4 {
  margin-top: $post-content-spacing + 20px;
}

.highlighttable {
  width: 100%;
  border: 1px solid #CCCCCC;
}

.highlighttable td {
  padding: 5px;
}

// Post Comments
#post-comments {
  width: 615px;
}

#post-comments input[type=email],
#post-comments input[type=url],
#post-comments input[type=text],
#post-comments textarea {
  width: 600px;
  margin: 10px 0;
}

#post-comments input[type=email],
#post-comments input[type=url],
#post-comments input[type=text] {
  height: 18px;
}

#post-comments textarea {
  height: 100px;
}

#post-comments input[type=submit] {
  width: 175px;
}

#post-comments .hint {
  float: right;
  font-size: 12px;
  color: #acacac;
}

#post-comments .comment {
  overflow: hidden;
  padding-bottom: 24px;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 24px;
}

#post-comments .comment:last-of-type {
  border-bottom: none;
}

#post-comments .avatar {
  float: left;
}

#post-comments .comment-wrapper {
  width: 515px;
  margin-left: 20px;
  float: left;
  font-size: 14px;
  line-height: 22px;
}

#post-comments .comment-meta {
  font-size: 12px;
}

#post-comments #comment-load-trigger {
  width: 100%;
  display: block;

  &:hover { color: #FFFFFF; }
}

// Archives
#post-archives .post {
  overflow: hidden;
  margin-bottom: 60px;
}

#post-archives .post-meta {
  width: 181px;
  margin-right: 70px;
  float: left;
  text-align: right;
}

#post-archives time {
  font-size: 18px;
}

#post-archives .post-meta .post-category {
  margin-top: 20px;
}

#post-archives .post-content {
  width: 616px;
  float: left;
  line-height: 22px;
}

#post-archives .post-content p {
  line-height: 25px;
}

#post-archives .post-content h3 {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 10px;
}

#post-archives .post-content h3 a {
  color: $gray;
  &:hover { color: $red; }
}

#post dl {
  line-height: 24px;
}

#post dl dt {
  font-weight: bold;
}

#post dd + dt {
  margin-top: 20px;
}

#post dl dd { 
  display: list-item;
  list-style: disc outside none;
  margin-left: 15px;
}
