#post {
  overflow: hidden;
}

#post-sidebar {
  width: 151px;
  margin-right: 85px;
  float: left;
}

#post-sidebar .share-tools {
  margin-top: 50px;
}

#post-sidebar .social-media-wrapper {
  margin: 15px 0;
}

#post-sidebar time {
  font-size: 20px;
  margin-bottom: 25px;
}

#post-sidebar .post-category {
  text-align: right;
}

#post-sidebar .post-category a {
  color: $gray;
  &:hover { color: $red; }
}

#post-content {
  width: 694px;
  float: right;
}

#post-content {
  h2, h3, h4, h5 {
    margin-bottom: $post-content-spacing;
  }
}

#post-content h2 {
  font-family: 'MemphisLTStdMedium';
  font-size: 20px;
  line-height: 26px;
}

#post-content h2 a,
#post-content h2 a:visited {
  color: #505050;
}

#post-content p {
  font-family: 'FuturaStdBook';
  line-height: 22px;
  font-size: 14px;
  margin-bottom: $post-content-spacing - 5;
}

#post-content .inline-code-sample {
  margin-bottom: $post-content-spacing - 5;
  overflow-x: auto;
}

#post-content h3 {
  font-size: 18px;
}

#post-content h4 {
  font-size: 16px;
}

.code-block {
  margin: 20px 0;
  overflow-x: auto;
}

.code-block + h4 {
  margin-top: $post-content-spacing + 20px;
}

.highlighttable {
  width: 100%;
  border: 1px solid #CCCCCC;
}

.highlighttable td {
  padding: 5px;
}
