@import 'base';
@import 'reset200802';
@import 'sprites';

@import 'uniform.default';

//@import 'formtastic';

#site-header {
  padding-top: 25px;
  margin-bottom: 48px;
}

#site-header h1 a {
  background: url(/images/dg.png) 0 0 no-repeat;
  width: 126px;
  height: 146px;
  display: block;
  @include hide-text;
}

#nav-wrapper {
  margin-top: 35px;
  @include box-shadow(0 -14px 9px -10px #E8E8E8 inset);
}

#admin-nav {
  overflow: hidden;
}

#admin-nav li {
  float: left;
  margin-right: 20px;
}

#admin-nav li a {
  display: block;
  color: $gray;
  font-family: "kulturista-web";
  height: 75px;
  line-height: 75px;
  padding: 0 60px;
  @include background(linear-gradient(top, #f9fcfd, #d8dadb));
  font-size: 18px;
  border: 1px solid #e1e1e1;
  border-bottom: none;
  @include box-shadow(0 0 1px 0 #a9a4a4 inset);
  @include border-radius(5px 5px 0 0);
}

.comments #comments-tab,
.posts #posts-tab {
  border: 1px solid rgba(206, 57, 39, 0.35);
  border-bottom: none;
  @include background(linear-gradient(top, #cd3a28, #ae2f1f));
  color: #FFFFFF;
}

h2 {
  font-size: 25px;
}

// Admin Tables
h2 + form,
h2 + .admin-table {
  margin-top: 20px;
}

.admin-table + h2 {
  margin-top: 55px;
}

.admin-table {
  table-layout: fixed;
  width: 100%;
  clear: left;
  @include box-shadow(0 2px 13px 0 rgba(0,0,0, 0.15));
}

.admin-table thead {
  border-top: 8px solid $red;
  border-bottom: 1px solid $red;
}

.admin-table thead th {
  height: 62px;
  vertical-align: middle;
  text-align: left;
  font-size: 16px;
  color: #666666;
  font-weight: normal;
  font-family: "kulturista-web";
}

.admin-table tbody td {
  vertical-align: middle;
  text-align: left;
  height: 70px;
}

.admin-table .id-col {
  padding-left: 40px;
}

.admin-table tbody tr:nth-child(even) td {
  background: #f2f2f2;
}

// Posts tables
.posts-table colgroup {
  .id-col { width: 100px; }
  .category-col { width: 240px; }
  .status-col { width: 192px; }
}

.admin-table colgroup {
  .view-col { width: 37px; }
  .edit-col { width: 44px; }
  .delete-col { width: 65px; }
}

.is-published .sprite-container {
  margin-right: 7px;
  @extend .admin-icon;
  @include admin-icon('icon-published');
  vertical-align: middle;
}

.posts-table .post-title {
  padding-right: 58px;
}

.admin-table .admin-action-icon {
  display: block;
  @include hide-text;
  @extend .admin-icon;
}

.admin-table .view-icon { @include admin-icon('icon-article'); }
.admin-table .edit-icon { @include admin-icon('icon-edit'); }
.admin-table .delete-icon { @include admin-icon('icon-delete'); }

.add-post-trigger {
  float: right;
  @extend .admin-icon;
  background-position: sprite-position($admin-icon-sprite, 'icon-add');
  padding-left: 40px;
  $height: image-height( sprite-file($admin-icon-sprite, 'icon-add') );
  height: $height;
  line-height: $height;
  margin-bottom: 20px;
}

// Comments Table
.comments-table colgroup {
  .id-col { width: 100px; }
  .preview-col { width: 282px; }
  .username-col { width: 239px; }
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

input[type=radio] + .radio-label {
  float: left;
  background: $admin-icon-sprite no-repeat;
  padding-left: 25px;
  @include admin-radio('unchecked');
}

input[type=radio]:checked + .radio-label {
  @include admin-radio('checked');
}

.radio-label + input + .radio-label {
  margin-left: 20px;
}

// Forms
form {
  padding: 43px 0 43px 24px;
  border-top: 8px solid $red;
  @include box-shadow(0 2px 13px 0 rgba(0,0,0, 0.15));
}

form li {
  margin-bottom: 40px;
  list-style: none;
  overflow: hidden;
}

form label {
  float: left;
  width: 162px;
  font-family: "kulturista-web";
  font-size: 24px;
  color: #666666;
}

form input[type=text] {
  padding-top: 9px;
  height: 25px;
}

form .text textarea,
form .string input {
  border: 1px solid #d4d4d4;
  @include border-radius(4px);
}

form .selector {
  width: 467px;
  span { width: 442px; }
}

form textarea,
form .string input,
form select {
  float: left;
  width: 467px;
  &:focus {
    border: 1px solid #ce3927;
    @include box-shadow(0 0 3px 0 #ce3927);
  }
}

form .boolean label {
  width: 177px;
}

form input[type=checkbox] {
  float: right;
}

form .actions {
  padding-left: 162px;
}

form .actions ol {
  overflow: hidden;
}

form .actions li {
  padding: 5px;
  margin-right: 10px;
  float: left;
}

// Notifications
.notification {
  padding: 10px 0;
  color: #FFFFFF;
  text-align: center;
  position: fixed;
  right: 0;
  bottom: -50px;
  left: 0;
  background: $red;
  font-style: italic;
  @include transition(bottom 0.25s ease-out 0s);
  @include box-shadow(0 -3px 3px 0 #FFFFFF);
}

.notification.success {
  color: $gray;
  @include background(linear-gradient(top, #a3c93c, #a3c93c));
}
