/**
 * Sprites
 */

@mixin sprite-dimensions($map, $sprite) {
  $sprite-file: sprite-file($map, $sprite);
  width: image-width($sprite-file);
  height: image-height($sprite-file);
}

@mixin sprite-height($map, $sprite) {
  $sprite-file: sprite-file($map, $sprite);
  height: image-height($sprite-file);
}

@import "compass/utilities/sprites/base";
$social-sprite: sprite-map('social-icons/*.png', $sprite-spacing: 1px);

.social-sprite {
  background: transparent $social-sprite no-repeat;
}

@mixin social-sprite($network) {
  background-position: sprite-position($social-sprite, 'social-' + $network);
}

$article-share-sprite: sprite-map('article-share-icons/*.png', $sprite-spacing: 1px);

.article-share-sprite {
  width: 45px;
  height: 49px;;
  background-image: $article-share-sprite;
  background-repeat: no-repeat;
}

@mixin article-share-sprite($icon) {
  background-position: sprite-position($article-share-sprite, $icon);
}
