%table.admin-table.posts-table
  %colgroup
    %col.id-col
    %col.post-title
    %col.category-col
    %col.status-col
    %col.view-col
    %col.edit-col
    %col.delete-col

  %thead
    %tr
      %th.id-col ID
      %th Title
      %th Category
      %th Status
      %th{ :colspan => 3 } Actions

  %tbody
    = render @posts
