%article.comment
  = image_tag gravatar(post_comment.email_hash), :class => 'avatar', :size => '60x60'
  .comment-wrapper
    %p= post_comment.markdown_cache.html_safe
    .comment-meta
      posted by:
      = comment_author(post_comment)
      @
      = format_date post_comment.created_at

