%article.comment
  = image_tag gravatar(post_comment.email), :class => 'avatar'
  .comment-wrapper
    %p= comment_markdown(post_comment.comment)
    .comment-meta
      posted by:
      = comment_author(post_comment)
      @
      = format_date post_comment.created_at

