%article#post

  %header
    .publish-meta
      %time{ :datetime => nil, :pubdate => @post.created_at }= publish_date
      %p.post-category
        &ndash;
        = @post.category.name

    %h2= link_to @post.title, url_for(@post)
    - @post.tags.each_with_index do |tag, i|
      -if i > 0
        |
      %a{:href => '#tag'}= tag.name

  =post_markdown
