#main-content
  %section#bio
    %p.headline I'm a NY/NJ based, full stack web developer. I currently work at <a href="http://www.rga.com" target="_blank">R/GA</a> as Senior Open Standards Developer, specializing in front end optimization including writing high performance JavaScript applications. My languages of choice are JavaScript and Ruby.

    %p I am passionate about web development as a whole and believe in clean organized code. I aim to ensure that the user has the smoothest experience possible while on the web and work on pushing the boundaries on web development. In my spare time I enjoy working on various side projects, including my work on the <a href="http://gradients.glrzad.com">CSS3 Gradient Generator</a>. I've also begun learning iOS development and Objective C.

    %p I have worked in both in-house startup environments such as <a href="http://www.thrillist.com" target="_blank">Thrillist</a> as well as for high-profile clients including <a href="http://www.discovercard.com" target="_blank">Discover Card</a>, <a href="http://www.verizon.com">Verizon</a>, and <a href="http://www.att.com" target="_blank">AT&amp;T</a>. My passions lie in building applications from either end of the development spectrum.

    %p I have also participated in different events such as giving a talk at <a href="http://msw-fe.eventbrite.com/" target="_blank">Making Startups Work - Optimizing the Front End</a> at <a href="http://www.refinery29.com/" target="_blank">Refinery29</a> discussing techniques for providing a responsive UI. Slides are <a href="http://www.damiangalarza.com/presentations/responsive_uis">available online for viewing.</a>

    %section.sub-section
      %h3 Skills

      %p My specialties include: Ruby, Rails, CSS3, HTML5, JavaScript, jQuery, MySQL, MongoDB, Git.
      %p I am also experienced in: Sinatra, PHP, Wordpress, CakePHP, CodeIgniter, Objective C, SVN.

    %section#featured-projects.sub-section

      %h3 Featured Projects
      .project
        .image-container
          = image_tag 'http://assets.damiangalarza.com/images/icons/icon-css3_factory.png'

        .project-description
          %h4= link_to "CSS3 Factory", "http://www.css3factory.com", :class => "alt-link"
          %p A concept spun off from the popularity of the <a href="http://gradients.glrzad.com">CSS3 Gradient Generator</a>, the CSS3 Factory is a work in progress. It expands on the concept of the CSS3 Gradient Generator providing an interface for more CSS3 features.

      .project
        .image-container
          = image_tag 'http://assets.damiangalarza.com/images/icons/icon-gradient_generator.png'
        

        .project-description
          %h4= link_to "CSS3 Gradient Generator", "http://gradients.css3factory.net", :class => "alt-link"
          %p The CSS3 Gradient Generator was built as a showcase and tool for generating CSS based gradients. The tool aims to streamline the somewhat obtrusive syntax for building gradients in CSS code.

    %section.sub-section
      %h3 Built with:
      %p This site was built with the following technologies: Ruby on Rails, MySQL, <a href="https://typekit.com" target="_blank">TypeKit</a>, SASS / <a href="http://compass-style.org/" target="_blank">Compass</a>, jQuery, CoffeeScript, <a href="http://pygments.org/" target="_blank">Pygments</a> (using <a href="https://github.com/tmm1/pygments.rb" target="_blank">pygments.rb</a>), <a href="https://github.com/tanoku/redcarpet" target="_blank">RedCarpet</a>, 

    %section.sub-section
      %h3 Design by:
      %p This site was designed by <a href="http://www.erinbermudez.com" target="_blank">Erin Bermudez</a>.


#info-bar
  %h2 My Projects on GitHub
