// Header
#page > header {
  margin-bottom: 35px;
  border-top: 16px solid $red;
}

#page header .main-head {
  padding: 56px $page-padding 39px;
  border-bottom: 1px solid $red;
  overflow: hidden;
  position: relative;
}

header h1 {
  width: 126px;
  height: 146px;
  margin: 0 auto;
  color: $red;
  text-align: center;
  font-size: 35px;
  float: left;
}

header h1 a {
  width: 126px;
  height: 146px;
  display: block;
  background: image-url('dg.png') 0 0 no-repeat;
  @include hide-text;
}

#site-search {
  position: absolute;
  right: 28px;
  bottom: 45px;
  overflow: hidden;
}

#site-search input {
  float: left;
}

#site-search input[type=text] {
  width: 277px;
  height: 22px;
}

#search-submit {
  width: 48px;
  height: 49px;
  overflow: hidden;
  background: image-url('icons/icon-search.png') 0 0 no-repeat;
  border: none;
  cursor: pointer;
  text-indent: 49px;
  white-space: nowrap;
}

// Nav
#site-nav {
  margin: 50px auto 0;
  padding: 0 20px;
  line-height: 24px;
  overflow: hidden;
}

#site-nav a {
  font-family: "minion-pro",sans-serif;
  color: #505050;
  font-size: 24px;
}

.posts #site-nav #blog,
.about #site-nav #about {
  color: $red; 
}

#site-nav a:hover {
  color: $red;
}

#site-header ul {
  float: left;
}

#site-header li {
  margin-right: 64px;
  float: left;
}

.site-content {
  overflow: hidden;
}

// Social Nav
#site-header .social {
  float: right;
}

#site-header .social li {
  margin: 0 8px;
  padding: 2px;
}

#site-header .social a {
  display: block;
  width: 40px;
  height: 40px;
  @extend .social-sprite;
  @include hide-text;

  &.social-github  { @include social-sprite('github');   }
  &.social-twitter { @include social-sprite('twitter');  }
  &.social-facebook { @include social-sprite('facebook'); }

  @include transition(box-shadow 0.25s linear 0s);
  @include border-radius(5px); 
  &:hover { @include box-shadow(rgba(0,0,0,0.5) 1px 1px 5px -1px); }

}
