%section#post-archives
  - page_articles.each do |article|
    %article.post
      .post-meta
        %time{ :datetime => nil, :pubdate => article.date }= format_date(article.date)
        %p.post-category= link_to article.data.category.titleize, category_path(article.data.category), class: 'alt-anchor'

      .post-content
        %h3= link_to article.title, article.url
        %p= article.data.summary
