%footer
  .wrapper
    %ul
      %li Damian Galarza
      %li damian[at]damiangalarza.com
      %li.last
        Follow me on:
        = link_to 'Facebook', 'http://www.facebook.com/dgalarza', :target => '_blank'
        ,
        = link_to 'Twitter', 'http://www.twitter.com/dgalarza', :target => '_blank'
        ,
        = link_to 'Github', 'http://www.github.com/dgalarza', :target => '_blank'

