%footer
  .wrapper
    %ul
      %li Damian Galarza
      %li damian[at]damiangalarza.com
      %li.last
        Follow me on:
        = link_to 'Facebook', 'http://www.facebook.com/dgalarza', :target => '_blank', :class => 'alt-anchor'
        ,
        = link_to 'Twitter', 'http://www.twitter.com/dgalarza', :target => '_blank', :class => 'alt-anchor'
        ,
        = link_to 'Github', 'http://www.github.com/dgalarza', :target => '_blank', :class => 'alt-anchor'

    %p.design-label Design by: <a class="alt-anchor" href="http://www.erinbermudez.com" target="_blank">Erin Bermudez</a>
